/* Footer */

/* footer {
    text-align: center;
    font-size: 0.9rem;
    color: var(--footer);
    margin-top: 6rem;
    padding: 2.5rem 0;
    background-color:  var(--footer-background);
} */


footer {
    text-align: center;
    font-size: 0.9rem;
    color: var(--footer);
    margin-top: 6rem;
    padding: 2.5rem 0;

    background-color: var(--footer-background);
    border-top: 1px solid var(--footer-border);


    backdrop-filter: blur(6px);
    transition: background 0.2s ease, border-color 0.2s ease;
}

footer p {
    transition: transform 0.10s ease, color 0.10s ease;
}

footer p:hover {
    color: var(--footer-hover);
}

/* ---------------------------------------------- */

.back-to-top {
    position: fixed;
    bottom: 42px;
    right: 34px;

    font-size: 1.6rem;
    color: var(--footer-hover);
    background: none;
    border: none;

    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
    transform: translateY(12px);

    transition:
        opacity 0.05s ease,
        transform 0.05s ease,
        color 0.05s ease;
}

.back-to-top.show {
    opacity: 0.8;
    pointer-events: auto;
    transform: translateY(0);
}

.back-to-top:hover {
    opacity: 1;
    transform: translateY(-3px) scale(1.09);

    /* color: var(--toggle-bg-hover);
    color: var(--navbar-link-hover); */
    color: var(--footer-hover);
    color: var(--navbar-link-hover);
    
}