/* ------------------------------------- */
/* ------------------------------------- */
/* FOOTER */
/* FOOTER */
/* ------------------------------------- */
/* ------------------------------------- */
/* TEXTO */

footer {
    text-align: center;
    font-size: 0.9rem;
    color: var(--footer);
    margin-top: 6rem;
    padding: 2.5rem 0;

    background-color: var(--footer-background);
    border-top: 1px solid var(--footer-border);

    position: relative;
    backdrop-filter: blur(6px);
    transition: background 0.2s ease, border-color 0.2s ease;
}

.footer-container {
    width: 100%;
    padding: 0 2rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    position: relative;

}

/* LOGO */

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 45px;
    height: auto;
    opacity: .85;
    transition: opacity .2s ease;
}

.footer-left img:hover {
    opacity: 1;
}

#footerLogo {
    transform: scale(1.4);
    transform-origin: left center;
}


/* TEXTO */
.footer-text {    
    color: var(--footer);
    opacity: .8;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.footer-text:hover {
    opacity: 1;
    color: var(--footer-hover);
}

.neat-gradient {
    text-decoration: none;
    color: var(--footer);
}

.neat-gradient:hover {
    color: var(--footer-hover);
}

/* FLECHA */

.back-to-top {
    position: fixed;
    position: fixed;
    bottom: 42px;
    right: 34px;

    font-size: 1.6rem;
    color: var(--footer-hover);
    background: none;
    border: none;

    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
    transform: translateY(12px);

    transition:
        opacity 0.05s ease,
        transform 0.05s ease,
        color 0.05s ease;
}

.back-to-top.show {
    opacity: 0.8;
    pointer-events: auto;
    transform: translateY(0);
}

.back-to-top:hover {
    opacity: 1;
    transform: translateY(-3px) scale(1.09);
    /* color: var(--toggle-bg-hover);
    color: var(--navbar-link-hover); */
    color: var(--footer-hover);
    color: var(--navbar-link-hover);

}