/* Hero / header */

.hero-section {
    height: 90vh;
    /* height: 70vh; */
    /* height: 35rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 3rem;  */
    /* padding-bottom: 3rem; */
}

.hero-reveal {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity .6s ease, transform .6s ease;
    transition: opacity .3s ease, transform .3s ease;
}

.hero-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.blend-title {
    font-size: clamp(4rem, 5vw, 5rem);
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 700;
    color: var(--blend-title-color);
    opacity: 1;
    pointer-events: none;
    margin: 0;

    font-family: 'Inter', sans-serif;
}

body.dark .blend-title {
    mix-blend-mode: color-dodge;
}

body.light .blend-title {
    mix-blend-mode: darken;
    filter: brightness(1.2) contrast(1.2);
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--text-color);
}

/* BOTONES */

.hero-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 0.8rem 1.6rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    user-select: none;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.226); */
}

.btn:hover {
    /* transform: translateY(-2px) scale(1.02); */
    transform: scale(1.07);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* Clase base para animación de brillo */
.btn-glow::before,
.btn-glow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100px) skewX(-15deg);
    pointer-events: none;
}

.btn-glow::before {
    width: 60px;
    background: white;
    filter: blur(30px);
    opacity: 0.5;
    z-index: 0;
}

.btn-glow::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
    z-index: 0;
}

.btn-glow:hover::before,
.btn-glow:hover::after {
    transform: translateX(300px) skewX(-15deg);
    transition: transform 0.8s ease;
}

.btn-glow:hover::before {
    opacity: 1;
}

/* Primary y Secondary solo cambian colores */
.btn-primary {
    background-color: var(--btn-bg);
    color: white;
    border: 2px solid var(--btn-bg);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--btn-bg);
    border-color: var(--btn-bg);
    
    /* transform: translateY(-5px) scale(1.08); */
    transform: scale(1.09);
}

.btn-secondary {
    background-color: transparent;
    color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
}

.btn-secondary:hover {
    background-color: var(--btn-bg);
    color: white;
}