/* Proyectos */

/* Card */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.project-card {
    background: var(--card-bg);
    border-radius: 8px;
    padding: 1rem;
    /* text-align: left; */
    /* text-align: justify; */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    /* cursor: pointer; */
}

.project-card:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background: var(--card-hover-bg);
}

.project-card h3 {
    text-align: center;
    font-size: 1.5rem;
}

.project-card img {
    max-width: 100%;
    border-radius: 6px;
}

.project-card p {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1rem;
    font-size: 1.1rem;
}

/* .project-card p {
    padding: 0 1rem 1rem;
    min-height: 3.8em; 
    line-height: 1.4em;
    text-align: center;
    overflow: hidden;
} */


.project-card .tech-icons {
    padding-bottom: 0.5rem;
}

.project-card a {
    /* color: var(--link-hover-color); */
    color: var(--link-card-color);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.project-card a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.tech-icons {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0 1rem;
    flex-wrap: wrap;
    align-self: center;
}

.tech-icons img {
    width: 25px;
    height: 25px;
    /* filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4)); */
}

/* Botones - card */
.project-links {
    display: flex;
    gap: 0.5rem;
    /* margin-top: 1rem; */
    margin: 1rem;

    /* flex-direction: column; */
    flex-direction: row;
    justify-content: center
}

/*-----------------------------*/
/* botones de tarjetas-proyectos */
.project-links a {
    display: inline-block;
    text-align: center;
    background-color: var(--proyect-btn-color);
    color: var(--proyect-text-color);
    padding: 0.6rem 1rem;
    border: none;
    /* border-radius: 0.5rem; */
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
}

.project-links a:hover {
    background-color: var(--proyect-btn-hover-color);
    color: var(--proyect-text-hover-color);
    border-color: var(--proyect-btn-hover-color);
    text-decoration: none;
}

.project-links button {
    display: inline-block;
    text-align: center;
    padding: 0.6rem 1rem;
    background-color: transparent;
    border: 2px solid var(--proyect-btn-color);
    border-radius: 5px;
    /* color: var(--proyect-text-color); */
    color: var(--btn-vermas-text);
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
}

.project-links button:hover {
    background-color: var(--proyect-btn-hover-color);
    border-color: var(--proyect-btn-hover-color);
    color: var(--proyect-text-hover-color);
    text-decoration: none;
}

.project-links button {
    font-family: inherit;
}

/* ---------------------------------------------------------------------------- */
/* --- Modal ---*/

.project-modal {
    position: fixed;
    inset: 0;
    background: var(--modal-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.project-modal.hidden {
    display: none;
}

.modal-content {
    background: var(--modal-bg);
    color: var(--modal-text);
    padding: 1rem;
    border-radius: 5px;
    width: 85%;
    height: 85%;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    clip-path: inset(0 round 0.5rem);
    position: relative;
}

.close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.modal-content h3 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.modal-content p {
    text-align: justify;
    margin: 1rem;
    min-height: 60px;
}



.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    padding: 1rem 3rem;
}


.modal-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-gallery-slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery-image {
    max-width: 85%;
    max-height: 330px;
    border-radius: 5px;
    object-fit: contain;
    
    position: relative;
    cursor: zoom-in;
}

.gallery-image::after {
    content: "🔍";
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.gallery-image:hover::after {
    opacity: 1;
}


video.gallery-image::after,
video.gallery-image:hover {
    transform: none;
    box-shadow: none;
    cursor: default;
}

.gallery-prev,
.gallery-next {
    background: transparent;
    /* color: #797979; */
    color: var(--flechas);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-prev {
    left: 0.30rem;
}

.gallery-next {
    right: 0.30rem;
}

/* Info a la derecha */
.modal-info p {
    text-align: justify;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}




/* Listas más compactas */
.tech-methods-container{
    display: flex;
    justify-content: space-evenly;
    margin-inline: 1rem;
    margin: 0;
}

ul {
    list-style: none;
    text-align: justify;
    font-size: 1rem;
    padding: 0;
}

/* Botones abajo centrados */
.modal-content .project-links {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.modal-content .project-links a {
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s ease;
    text-decoration: none;

    display: inline-flex;      
    justify-content: center;    
    align-items: center;        
    min-width: 180px;              
    padding: 0.85rem 1.5rem;    
}

.project-links a .icon {
    width: 20px;         
    height: 20px;
    margin-left: 0.5rem;  
    object-fit: contain;
}


.modal-content .project-links a:hover {
    transform: scale(1.01);
}


/* ------------------------------------------------------------------------------------------------------------------- */

/* vista mas amplia de la imagen */
#image-overlay {
    position: fixed;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.85); */
    background: rgba(0, 0, 0, 0.971);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

#image-overlay.hidden {
    display: none;
}

#image-overlay img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.112);
}


#close-overlay {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}